<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .box{
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Hello Vue :)</h1>
    <div id="app">
        <div v-if="showBooks">
            <p>{{ title }}</p>
            <p>{{ author }} - {{ age }}</p>
        </div>

        <!-- v for vue - on : actions-->
        <button v-on:click="age ++">Increase Age</button>
        <!-- on "" is a javascript code, the java script code will run whenever we click -->
        <!-- exp Decrease Age is a variable name for the button -->
        <button v-on:click="age --">Decrease Age</button>
        <!-- whenever we click the text button "Update Title", it will run the changeTitle method on app.js -->
        <div @click="changeTitle('Hola Potta')">Update Title</div>
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
            <!-- <span>Show Books</span> -->
        </button>
        <div v-show="showBooks">Currently showing</div>
        <br>

        <!-- mouse event -->
        <div class="box" @mouseover="handleEvent">mouseover (enter)</div>
        <div class="box">mouseleave</div>
        <div class="box">double click</div>
        <div class="box"></div>
    </div>

    <script src="app.js"></script>
</body>
</html>